<div class="container">
    <div class="row justify-content-center">
        <div class="form-group col-md-12 mt-2">
            <label for="">Search By Name</label>
            <input type="text" class="form-control" placeholder="Enter user name" [(ngModel)]="namesearch">
        </div>
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>UserName</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users | filter:namesearch">
                        <td>{{user.id}}</td>
                        <td>{{user.name}}</td>
                        <td>{{user.username}}</td>
                        <td>{{user.email}}</td>
                        <ng-container *ngIf="user.name === 'No Data Found'">
                            {{user.description}}
                        </ng-container>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>