input.ng-touched.ng-invalid{
    border: 2px solid rgb(232, 111, 111);
    box-shadow: 2px 2px 4px rgb(202, 103, 103);
} 

.form-group input,
.form-group select,
.form-group textarea {
    border: none; 
    border-bottom: 1px solid black; 
    padding: 2px;
    background-color: transparent; 
    text-overflow: clip;
    color: black;
}
.inner-container{
    margin-left: 20%;
    background-image: url('/assets/images/regi.webp');
    background-repeat: no-repeat;
}
.container{
     height: 100vh;
     width: 100vw;
     opacity: 0.7;
      
     /* background-image: url('/assets/images/registrate.jpg'); */
     background-size: cover; 
     background-position: center;  
        /* background: linear-gradient(to bottom, #f5f5f5, #e0e0e0); */
     
    }
    
    form{
        height: 100vh;
        width: 40vw;
        padding: 1%;
        border: 2px double blue;
        background-color: transparent;
        margin: 2% 10% 5% 30%;
        text-overflow:ellipsis;
        color:  white;
        font-size: 3vh;
        font: italic;
        text-shadow: 2px 4px 4px rgba(46,91,173,0.6);       
        border-radius: 1%;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        /* opacity: 0.9; Reset opacity for the form */
        /* background: linear-gradient(to bottom, #f5f5f5, #b6aae8);       */
        background: linear-gradient(to top, #c6b0ea 0%, #e5b2ca 100%);
        
    }

    
    i{
        color: black;
    }