
<div class="container">
  <div class="row">
    <div class="col-md-12 mt-2">
      <table class="table table-striped table-dark table-bordered border-primary">
        <thead>
          <tr>
            <th scope="col">sr.No</th>
            <th scope="col">Title</th>
            <th scope="col">PageId</th>
            <th scope="col">Timestamp</th>
            <th scope="col">Size</th>
            <th scope="col">WordCount</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let result of searchResults;let i=index">
            <th scope="row">{{i+1}}</th>
            <td><a [href]="'https://en.wikipedia.org/wiki/' + result.title" target="_blank">{{ result.title }}</a></td>
            <td>{{ result.pageid}}</td>
            <td>{{ result.size }}</td>
            <td>{{ result.timestamp }}</td>
            <td>{{ result.wordcount }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

